.post-card {
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px rgb(199, 199, 199);
    background-color: white;
    padding: 24px 32px;
    max-width: 600px;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 24px;
    text-align: left;
}

.post-card h2 {
    font-size: 22px;
    margin-bottom: 8px;
    color: #333;
}

.post-card p {
    margin: 6px 0;
    color: #555;
    line-height: 1.4;
}

.post-meta {
    margin-top: 16px;
    font-size: 14px;
    color: #777;
}